:root {
    /* ice cream colors = #a2c4c9, d5a6bd */
    --mainColor1: #a2c4c9;
    --mainColor2: #d5a6bd;
}

body {
    font-family: 'calibri';
    font-size: 16px;
    margin: 0px;
}

/* header and nav elements */
header{
    background-color: var(--mainColor2);
    border: 5px groove black;
    /* padding: 0% 2%; */
    /* margin: 10px; */
}

footer {
    background-color: var(--mainColor2);
    border: 5px groove black;
    position: relative;
    bottom: 0px;
    width:100vh;
}

nav {
    float: right;
}

/* link styling for nav bar */
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    font-size: 105%;
}

h1 {
    display: inline-block;
    margin-left: 5px;
    font-size: 120%
}

h2{
    display: inline-block;
    margin-right: 5px;
    font-size: 110%
}

h2::before {
    content: '🤣';
}

h2::after {
    content: '🤣'
}

h3 {
    display: inline-block;
    margin-right: 5px;
    font-size: 105%;
}

#subBody {
    background-color: var(--mainColor1);
    display:inline-block;
    height: 100vh;
}

/* hero elements */
section {
    display: flex;
    /* flex: 0 0 500px; */
    justify-content: space-between;
    align-items: center;
    padding: 2%

}

.hero {
    border: 5px solid black;
    min-width: 400px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.hero2 {
    border: 4px solid black;
    min-width: 300px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

/* article elements */
article {
    width: 95%;
    margin: 2%
}

#titleBox {
    border:3px solid black;
    padding: 4px;
    background-color: wheat;
    position:sticky;
    top: -10px;
    left: -10px;
}

#aboutMe {
    border: 3px solid black;
    padding: 3px;
    background-color: var(--mainColor2);
    position:flex;
    flex: 1 0 auto
}

/* footer elements */
#footNavBar {
    float: right;
}

/* media elements */
/* Tablets*/
@media (max-width: 992px) {

}
  
/* Large smartphones*/
@media (max-width: 768px) {
    h2 {
        font-size: 95%
    }
    section {
        

    }
}
  
  /* Small smartphones*/
@media (max-width: 576px) {
    .title {
        display: flex;
        justify-content: center;
    }

    header {
        display: flex;
        font-size: 95%;
        width: 100vh;
        flex-direction:column;
        justify-content: center;
    }

    header nav h2{
        display: flex;
        justify-content: center;
    }

    #subBody {
        width: 102vh;
        height:auto;
    }

    section {
        flex-direction: column;
        justify-content: center;
    }
    section img {
        margin-bottom: 5px
    }
    footer {}
}
  