body {
    font-family: 'calibri';
    font-size: 16px;
    margin: 0px;
}


/* header and nav elements */
header,
footer {
    background-color: #d5a6bd;
    border-style: groove;
    border-color: black;
    border-width: 5px;
    /* margin: 10px; */
}

nav {
    float: right;
}

h1 {
    display: inline-block;
    margin-left: 5px;
    font-size: 120%
}

h2{
    display: inline-block;
    margin-right: 5px;
    font-size: 110%
}

h2::before {
    content: '🤣';
}

h2::after {
    content: '🤣'
}

h3 {
    display: inline-block;
    margin-right: 5px;
    font-size: 105%;
}

.subBody {
    background-color: #a2c4c9;
}

/* hero elements */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%

}

.hero {
    border: 2px solid black;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.hero2 {
    border: 2px solid black;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

/* article elements */
.titleBox {

}

.aboutMe {

}