:root {
    /* ice cream colors = #a2c4c9, d5a6bd */
    --mainColor1: #a2c4c9;
    --mainColor2: #d5a6bd;
}

body {
    font-family: 'calibri';
    font-size: 16px;
    margin: 0px;
}

/* header and nav elements */
header{
    background-color: var(--mainColor2);
    border: 5px groove black;
    /* padding: 0% 2%; */
    /* margin: 10px; */
}

footer {
    background-color: var(--mainColor2);
    border: 5px groove black;
    position: fixed;
    bottom: 0px;
    width:100%;
}

nav {
    float: right;
}

h1 {
    display: inline-block;
    margin-left: 5px;
    font-size: 120%
}

h2{
    display: inline-block;
    margin-right: 5px;
    font-size: 110%
}

h2::before {
    content: '🤣';
}

h2::after {
    content: '🤣'
}

h3 {
    display: inline-block;
    margin-right: 5px;
    font-size: 105%;
}

.subBody {
    background-color: var(--mainColor1);
    display:inline-block;
    height: 100vh;
}

/* hero elements */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%

}

.hero {
    border: 2px solid black;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.hero2 {
    border: 2px solid black;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

/* article elements */
article {
    width: 95%;
    margin: 2%
}

.titleBox {
    z-index: 2;
    border:3px solid black;
    padding: 4px;
    background-color: wheat;
    position:sticky;
    top: -10px;
    left: -10px;
}

.aboutMe {
    z-index:1;
    border: 3px solid black;
    padding: 3px;
    background-color: var(--mainColor2);
    position:flex;
    flex: 1 0 auto
}

/* footer elements */
#footNavBar {
    display: flex;
    justify-content: flex-end;
}